In [1]:
dataset = [{
        "Name" : "Movie1",
        "Reviews" : 100,
        "Oscar" : 1,
        "Score" : 2.2
    },
   {
        "Name" : "Movie2",
        "Reviews" : 200,
        "Oscar" : 2,
        "Score" : 2.5
   }, 
    {
        "Name" : "Movie3",
        "Reviews" : 300,
        "Oscar" : 3,
        "Score" : 2.8
   } 
]

In [2]:
dataset

[{'Name': 'Movie1', 'Reviews': 100, 'Oscar': 1, 'Score': 2.2},
 {'Name': 'Movie2', 'Reviews': 200, 'Oscar': 2, 'Score': 2.5},
 {'Name': 'Movie3', 'Reviews': 300, 'Oscar': 3, 'Score': 2.8}]

In [2]:
reviewslist = []
for data in dataset: #végigmegyek az egyes dictionary-kon
    reviewslist.append(data['Reviews']) #az adott dictionary 'reviews' értékét hozzáadom egy listához

maxreview = max(reviewslist)

In [4]:
maxreview

300

In [4]:
for data in dataset:
    if data['Reviews'] < maxreview:
        data['Score'] = (data['Score'] - ((maxreview - data['Reviews']) / 100) * 0.1)

In [5]:
dataset

[{'Name': 'Movie1', 'Reviews': 100, 'Oscar': 1, 'Score': 2.0},
 {'Name': 'Movie2', 'Reviews': 200, 'Oscar': 2, 'Score': 2.4},
 {'Name': 'Movie3', 'Reviews': 300, 'Oscar': 3, 'Score': 2.8}]

In [6]:
for data in dataset:
    if data['Oscar'] != 0:
        data['Score'] = data['Score'] + (data['Oscar'] * 0.1)

In [8]:
dataset

[{'Name': 'Movie1', 'Reviews': 100, 'Oscar': 1, 'Score': 2.1},
 {'Name': 'Movie2', 'Reviews': 200, 'Oscar': 2, 'Score': 2.6},
 {'Name': 'Movie3', 'Reviews': 300, 'Oscar': 3, 'Score': 3.0999999999999996}]

In [13]:
dataset = sorted(dataset, key = lambda i: i['Score'], reverse = True)

In [14]:
dataset

[{'Name': 'Movie3', 'Reviews': 300, 'Oscar': 3, 'Score': 3.0999999999999996},
 {'Name': 'Movie2', 'Reviews': 200, 'Oscar': 2, 'Score': 2.6},
 {'Name': 'Movie1', 'Reviews': 100, 'Oscar': 1, 'Score': 2.1}]